@model OTSSiteMVC.Models.LoginDto
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form id="loginForm" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" type="text" id="userName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" id="password" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" id="submitButton">Login</button>
    </div>
</form>