@model OTSSiteMVC.Models.CreateUserDto
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form class="form-control" id="registerForm">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" id="userName" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" id="email" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Password1"></label>
        <input asp-for="Password1" id="password1" type="password"/>
    </div>
    <div class="form-group">
        <label asp-for="Password2"></label>
        <input asp-for="Password2" id="password2" type="password"/>
    </div>
    <div class="form-group">
        <button type="submit" id="regSubmitButton">Register</button>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/AccountScripts.js">
</script>