@page
@model OTSSite.Pages.Article.ArticleModel

@{
    ViewData["Title"] = "Article";
}

<div class="dl-horizontal">
    <div id="article-title">
        @Html.DisplayFor(model => model.Article.Title)
    </div>
    <div id="article-author">
        @Html.DisplayFor(model => model.Author.UserName)
    </div>
    <div id="article-publish-date">
        @Html.DisplayFor(model => model.Article.TimeStamp)
    </div>
    <article id="article-text">
        @Html.DisplayFor(model => model.Article.ArticleText)
    </article>
</div>

