@page
@model OTSSiteRazor.Pages.Article.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ArticleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleModel.Title" class="control-label"></label>
                <input asp-for="ArticleModel.Title" class="form-control" />
                <span asp-validation-for="ArticleModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleModel.AuthorId" class="control-label"></label>
                <input asp-for="ArticleModel.AuthorId" class="form-control" />
                <span asp-validation-for="ArticleModel.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleModel.TimeStamp" class="control-label"></label>
                <input asp-for="ArticleModel.TimeStamp" class="form-control" />
                <span asp-validation-for="ArticleModel.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleModel.Article" class="control-label"></label>
                <input asp-for="ArticleModel.Article" class="form-control" />
                <span asp-validation-for="ArticleModel.Article" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ArticleModel.published" /> @Html.DisplayNameFor(model => model.ArticleModel.published))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
