@page
@model OTSSite.Pages.Articles.ArticleModel

@{
    ViewData["Title"] = "Article";
}

<div class="dl-horizontal">
    <div id="article-title">
        @Html.DisplayFor(model => model.Article.Title)
    </div>
    <div id="article-author">
        @Html.DisplayFor(model => model.Article.Author)
    </div>
    <div id="article-publish-date">
        @Html.DisplayFor(model => model.Article.TimeStamp)
    </div>
    <article id="article-text">
        @Html.DisplayFor(model => model.Article.ArticleText)
    </article>
    <div id="comment-post">
        @{ var newcomm = new OTSSite2.Models.Comment() { ArticleId = Model.Article.Id }; }
        <partial name="Create.cshtml" model="newcomm;" />
    </div>
    <div id="comment-box">
    @{ 
        foreach (var c in Model.TopLevelComments)
        {
             <partial name="Comment.cshtml" model="c"/>
        }
    }
    </div>
</div>

