@page
@model OTSSite.Pages.Articles.ArticleModel

@{
    ViewData["Title"] = "Article";
}

<div class="dl-horizontal">
    <div id="article-title">
        @Html.DisplayFor(model => model.Article.Title)
    </div>
    <div id="article-author">
        @Html.DisplayFor(model => model.Author.UserName)
    </div>
    <div id="article-publish-date">
        @Html.DisplayFor(model => model.Article.TimeStamp)
    </div>
    <article id="article-text">
        @Html.DisplayFor(model => model.Article.ArticleText)
    </article>
    <div id="comment-post">
        @{ var newcommvdd = new ViewDataDictionary(ViewData) { {"articleId",Model.Article.Id } }; }
        <partial name="/Comment/Create.cshtml" view-data="newcommvdd" />
    </div>
    <div id="comment-box">
    @{ 
        foreach (var c in Model.TopLevelComments)
        {
             var vdd = new ViewDataDictionary(ViewData) { { "commentObj", c } };
             <partial name="/Comment/Comment.cshtml" view-data="vdd" />
        }
    }
    </div>
</div>

