@{ 
    var controllerName = string.Empty;
    var actionName = string.Empty;
    object actionObj;
    object controllerObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OTSSite</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Open Technical Soluations</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-lable="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{ if (controllerName == "Home" && actionName == "Index")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                    }

                    if (controllerName == "Article")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Archive" asp-controller="Article">Archives</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Archive" asp-controller="Article">Archives</a>
                        </li>
                    }

                    if (controllerName == "Downloads")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Software" asp-controller="Downloads">Downloads</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Software" asp-controller="Downloads">Downloads</a>
                        </li>
                    }

                    if (controllerName == "Home" && actionName == "About")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
                        </li>
                    }

                    if (controllerName == "Home" && actionName == "Contact")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
                        </li>
                    }

                    if(User != null && User.IsInRole("Administrator"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu">
                                <a asp-action="Index" asp-controller="AccountAdministration" class="dropdown-item">Account Administration</a>
                            </div>
                        </li>
                    }
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - OTSSite</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
