@model AddRolesViewModel

@inject Microsoft.AspNetCore.Identity.RoleManager<Microsoft.AspNetCore.Identity.IdentityRole> _roleManager
@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> _userManager

@{ 
    var roles = _roleManager.Roles.Select(rn => rn.Name).ToList();
    var user = _userManager.Users.FirstOrDefault(u => u.Id == Model.UserId);
}

<div>
    <div>@user.UserName</div>
    <div>@user.Email</div>
    <form asp-action="AddRoles">
        <div class="form-group">
            <input asp-for="UserId" type="hidden" value="@Model.UserId"/>
            <label asp-for="Role"></label>
            <select asp-for="Role">
                @foreach(var r in roles)
                {
                    <option>@r</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Role" class="btn" />
        </div>
    </form>
</div>

