@model AccountDataViewModel

<div>
    <div>@Model.User.UserName</div>
    <div>@Model.User.Email</div>
    <ul>
        @foreach(var r in Model.Roles)
        {
            <li>@r</li>
        }
    </ul>
</div>

@if (Model.User.UserName != "Administrator")
{
    <a asp-action="AddRoles" asp-controller="AccountAdministration" asp-route-id="@Model.User.Id">
        <div class="btn">Add Role</div>
    </a>
}

