@model AccountDataViewModel

<div>
    <div>@Model.User.UserName</div>
    <div>@Model.User.Email</div>
    <ul>
        @foreach(var r in Model.Roles)
        {
            <li>@r</li>
        }
    </ul>
</div>

@if (Model.User.UserName != "Administrator")
{
    <a asp-action="AddRoles" asp-controller="AccountAdministration" asp-route-id="@Model.User.Id">
        <button type="button" class="btn">Add Role</button>
    </a>
}
<br />
<a asp-action="Index">Back</a>

