@model List<AccountDataViewModel>

<div>
    @foreach(var advm in Model)
    {
        <a asp-action="Details" asp-route-id="@advm.User.Id">
        <div>
            <div>@advm.User.UserName</div>
            <div>@advm.User.Email</div>
            <ul>
                @foreach(var r in advm.Roles)
                {
                    <li>@r</li>
                }
            </ul>
        </div>
     </a>
    }
</div>

