@page
@model OTSSite.Pages.Publish.PendingArticlesModel
@{
    ViewData["Title"] = "ApproveArticle";
}

<h1>Editor Approval</h1>
@foreach(var a in Model.PendingArticleViewModels)
{
    <div>
        @a.Title
    </div>
    <div>
        @a.AuthorUserName
    </div>
    <div>
        @a.Status
    </div>
}

