@model OTSSite.Models.Article
@{
    ViewData["Title"] = "Create";
}
@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> userManager
@{ 
    var author = userManager.GetUserName(User);
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Author" value="@author" />
            <div class="form-group">
                <label asp-for="ArticleText" class="control-label"></label>
                <textarea asp-for="ArticleText" class="form-control" type="text" rows="10" cols="150"/>
                <span asp-validation-for="ArticleText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
