@model OTSSite.Models.Article

@{
    ViewData["Title"] = "Index";
}

<div class="dl-horizontal">
    <div>
        <div>
            @Html.DisplayFor(model => model.Title)
        </div>
        <div>
            @Html.DisplayFor(model => model.Author)
        </div>
        <div>
            @Html.DisplayFor(model => model.TimeStamp)
        </div>
        <article>
            @Html.DisplayFor(model => model.ArticleText)
        </article>
    </div>
    <div>
        <div id="commentBox">

        </div>
    </div>
</div>
