@page
@model OTSSite.Pages.Comments.CommentPageModel
@{
    ViewData["Title"] = "Comments";
}

<div>
    <div id="comment">
        <div>@Model.Author</div>
        <div>@Model.Comment.TimeStamp</div>
        <div>@Model.Comment.CommentText</div>
    </div>

    <div id="show-child-comments">
        View @Model.Children Replies
    </div>
</div>

